.center {
    position: absolute;
    text-align: center;
    padding: 10px 0px 10px 0px;
    width: 17%;
    cursor: pointer;
  }
.center:hover {
    background-color: #dee0e3;
}
.search-container{
  padding-top: 10px;
}
.multiselect {
    width: 94%;
  }

  p-multiSelect > {
    div {
      width: 94%;
    }
  }